source https://www.nuget.org/api/v2
nuget CommandLineParser 2.6.0
nuget FParsec 1.0.4-RC3 RC
nuget FSharp.Core 4.7.0
nuget LiteDB 4.1.4
nuget LiteDB.FSharp 2.14.0
nuget Microsoft.Extensions.Configuration.Json 3.1.0-preview1.19506.1 preview1
nuget Serilog
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.Literate
nuget Serilog.Sinks.RollingFile